body{
    margin: 0%;
    text-align: center;
    align-items: center;
    
}
#only{
    background-color: #F0EBE3;
    padding: 100px;
    min-height: 800px;

  
}
.navbar{
    align-items: center;
}

/* service we offer */
.service{
    background-color: #E4DCCF;
    padding: 100px;
    min-height: 500px;
    text-align: center;
}
.home{
    margin-top: 100px auto ;
    padding: 30px;
    text-align: left;
}
.home-img{
    border-radius: 10px 10px;
    float: right;
    padding: 20px;
    
   
}
.text-box{
    font-size: 20px;
}
.learn{
    padding: 80px ;
    
}
.card{
    background-color: #E4DCCF ;
    border: 0;
    
}
hr{
    border: dotted 6px;
    border-bottom: none;
    margin: 50px auto;
    width: 4%;
}

/* leading-page */
.leading-page{
    background-color:#7D9D9C;
    padding: 60px;
    text-align: center;
    min-height: 100%;
}
.health,.finding{
    border-radius: 30px 30px;
    float: left;
    padding: 20px;
    height: 400px;
    width: 500px;
    background-color:#7D9D9C;
}
.online{
    border-radius: 30px 30px;
    float: right;
    padding: 20px;
    height: 400px;
    width: 500px;
    background-color:#7D9D9C;
}

/* Footer */
.footer{
    background-color:#576F72;
    padding: 100px;
    text-align: center; 
    min-height: 400px;
  
    
}
.hmm{
    
   padding:20px 50px ;  
   justify-content: center;
   float: middle;
}
/* extra */
p{
    font-size: 25;
    padding: 0 0 40px 0;
}



